#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
}

.nav-container {
  position: relative;
}

.nav-container > nav {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}

.nav-container > nav > .nav-link {
  color: white;
  text-decoration: none;
  font-size: 0.66rem;
  margin: 0rem auto;
}
.nav-container-collapsed {
  color: white;
}
.nav-container-expanded {
  opacity: 1;
}
.nav-container > nav > .nav-link:hover {
  color: rgba(233, 0, 0, 0.9);
}

.nav-link:hover::before,
.nav-link:hover::after {
  color: rgba(0, 0, 0, 1);
}
.nav-link:hover::before {
  content: "{";
}
.nav-link:hover::after {
  content: "}";
}
.login-form {
  display: flex;
  flex-flow: column nowrap;
}

input,
button {
  font-size: 0.5rem;
}

.app-title {
  font-size: 1.33rem;
}

.header-rule {
  border-radius: 50%;
  margin: 0 auto;
}

.main-layout {
}

.page-container {
  margin-top: 3rem;
}
